body{
	padding: 0;
	margin: 0;
	font-family:'Droid Sans';
	font-size: 20px;
	background-color: #ccc;
}

@font-face{
	font-family:'Droid Sans';
    src: url('droadsans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#container{
	width : 1150px;
	min-height: 600px;
	position: relative;
	margin: 30px auto;
	text-align: center;
	background-color: #fff;
}

#container .left-side, #container .right-side{
	width: 550px;
	height: auto;
	display: inline-block;
}

#container .left-side{
	border-right: 1px solid #ccc;
}

#container .left-side p{
	margin:20px;
	font-size: 18px;
	text-align: left;
}

#container .right-side{
	vertical-align: top;
  	padding: 10px;
}
#container .draw-area{
	border: 1px solid;
}

#container .img-tooltip{
	width: 30px;
	height: 30px;
	vertical-align: bottom;
	margin: 0 4px;
  	outline: 1px dotted;
}

.popup{
	width : 500px;
	height: 200px;
	background: #eee;
	margin: 20px auto;
	padding-top: 20px;
}

.popup .nick{
	width: 250px;
	height: 27px;
	font-size: 18px;
	outline: none;
	padding: 2px;
	
}

.popup .button, .send-image{
	padding: 6px 10px;
	display: block;
	margin: 20px auto;
	border-radius: 5px;
  	color: white;
}

.story-text{
	width: 500px;
	border: none;
	outline: none;
	font-size: 20px;
	border-bottom: 1px dotted;
}

.right-side .story{
	width : 100%;
	height: 100%;
	font-size: 25px;
	text-align: left;
	padding: 20px;
}

.right-side img:hover{
  	transform: scale(10,10);
  	z-index: 1;
  	position: absolute;
  	background-color: #fff;
  	transition: transform 200ms ease-in;
}

h1{
	padding: 25px 0px;
}
